{
  "swagger": "2.0",
  "info": {
    "title": "Readathon",
    "description": "A monthly readathon challenge",
    "version": "1.0.0"
  },
  "host": "diana.jware-virtual.com:8443",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/books/add": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "example": "Moby Dick"
                },
                "author": {
                  "example": "Herman Melville"
                },
                "ISBN": {
                  "example": "9782266010184"
                },
                "questions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "question": {
                        "type": "string"
                      },
                      "answers": {
                        "type": "array",
                        "items": {
                          "type": "string"
                      },
                      "correct": {
                        "type": "integer"
                      }
                    }
                  },
                  "example":{
                    "question": "Who is the harpooner that Queequeq rescues?",
                    "answers": ["Tashtego", "Starbuck","Daggoo"],
                    "correct": "0"
                    }

                  }
                }
        }
        }
        }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/books/check-eligibility": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/books/monthly-challenge": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/users/register": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "password": {
                  "example": "favebook"
                },
                "username": {
                  "example": "reader"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/users/login": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "username": {
                  "example": "testuser"
                },
                "password": {
                  "example": "testing"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    }
  }
}